@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');


.root {
    --primary-color:#3B82F6;
}

.head {
    font-family: 'Langar', cursive;
    text-align: center;
    color: #ff0000;
    margin-left: 6%;
    font-size: 40px;
}


.spa {
    color:
    #ff0000;
    
}

textarea {
    display: block;
    text-align: center;
    width:30%;
    margin: 2rem;
    height: 8vh;
    padding: 3rem;  
    font-size: 20px;
    color:blue;
    background-color: #E5E7EB;
    border: 2px solid #3B82F6;
    font-family: 'Langar', cursive;
    padding-right: 8px;
    margin-left: 10%;


}

.butto {
    
    /* margin: 0; */
    width: 10%;
    margin-left: 20%;
    margin-right: 30%
    /* position: relative; */
    top: 50%;
    /* left: 90%; */
    font-size: 25px;
    border-radius: 8px;
    border: 2px solid #3B82F6;
    /* right: 42px; */
    
}

#output {
    
    display: block;
    text-align: center;
    width:30%;
    margin: 3rem;
    height: 8vh;
    padding: 2rem;  
    font-size: 20px;
    color:blue;
    background-color: #E5E7EB;
    border: 2px solid #3B82F6;
    font-family: 'Langar', cursive;
    margin-left: 10%;
    


}

/* .abt {
    
    display: block;
    text-align: center;
    width:80%;
    margin: 2rem;
    height: 5vh;
    padding: 2rem;  
    font-size: 20px;
    color:blue;
    background-color: #E5E7EB;
    border: 2px solid #3B82F6;
    font-family: 'Langar', cursive;

} */




body{
    /* background-image: url("https://wallpapercave.com/wp/wp1969975.jpg"); */
    background-image: url("https://cache.desktopnexus.com/thumbseg/1684/1684921-bigthumbnail.jpg");
    background-position: center;
    background-size:cover;
    height:640px;
    /* border: 10px dashed black; */
    padding: 25px;
    /* background: url(paper.gif); */
    
    /* background-origin: content-box; */
    background-repeat: no-repeat, repeat;
}