@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');


.root {
    --primary-color:#3B82F6;
}

.head {
    font-family: 'Langar', cursive;
    text-align: center;
}

body {
    background-image: url("https://images8.alphacoders.com/636/thumb-1920-636768.jpg")
}

.spa {
    color:
    #3B82F6;
    
}

textarea {
    display: block;
    text-align: center;
    width:80%;
    margin: 2rem;
    height: 5vh;
    padding: 2rem;  
    font-size: 20px;
    color:blue;
    background-color: #E5E7EB;
    border: 2px solid #3B82F6;
    font-family: 'Langar', cursive;
    padding-right: 8px;


}

.butto {
    
    margin: 0;
    position: relative;
    top: 50%;
    left: 41%;
    font-size: 25px;
    border-radius: 8px;
    border: 2px solid #3B82F6;
    
}

#output {
    
    display: block;
    text-align: center;
    width:80%;
    margin: 2rem;
    height: 5vh;
    padding: 2rem;  
    font-size: 20px;
    color:blue;
    background-color: #E5E7EB;
    border: 2px solid #3B82F6;
    font-family: 'Langar', cursive;


}

/* .abt {
    
    display: block;
    text-align: center;
    width:80%;
    margin: 2rem;
    height: 5vh;
    padding: 2rem;  
    font-size: 20px;
    color:blue;
    background-color: #E5E7EB;
    border: 2px solid #3B82F6;
    font-family: 'Langar', cursive;

} */

textarea .about {
    display: block;
    /* text-align: center; */
    width:200%;
    margin: 5rem;
    height: 9vh;
    padding: 4rem;  
    font-size: 20px;
    color:blue;
    background-color: #E5E7EB;
    border: 2px solid #3B82F6;
    font-family: 'Langar', cursive;
    left: 50%;

}

.img7 {
    /* width: 280px; */
    margin: auto;
    border-radius: 0%;
    display: block;
    width:180px;
    height:300px
}

